<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>h4cktivist | Portfolio</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#about">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#projects">My Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Me</a>
              </li>
          </div>
        </div>
    </nav>


    <div id='about'>
        <br><br><br>

        <img src="https://avatars.githubusercontent.com/u/51692800" class="rounded mx-auto d-block" alt="Avatar" height="200" width="200">
        <br>
        <h3 align="center">Hi, my name is Popov Vadim. I'm beginner backend developer.</h3>

        <br><br>

        <h4 align="center">My Skills:</h4>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Python Core Language
              <span class="badge bg-success">Good</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Building Web Applications with Django
              <span class="badge bg-warning">Intermediate</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Building Web Applications with Flask
              <span class="badge bg-warning">Intermediate</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Building Web Applications with Node.js
              <span class="badge bg-primary">Beginner</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Building Frontend with HTML/CSS
              <span class="badge bg-warning">Intermediate</span>
            </li>
          </ul>

          <br>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Managing Source Code with Git
              <span class="badge bg-warning">Intermediate</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Handling with Docker
              <span class="badge bg-primary">Beginner</span>
            </li>
          </ul>

          <br>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              System Administration with Linux
              <span class="badge bg-warning">Intermediate</span>
            </li>
          </ul>

    </div>


    <div id="education">
        <br><br>
        <h4 align="center">My Education:</h4>

        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Back End Development and APIs</h5>
                <p class="card-text">FreeCodeCamp</p>
                <a href="https://freecodecamp.org/certification/h4cktivist/back-end-development-and-apis" class="btn btn-primary">Certificate</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Scientific Computing with Python</h5>
                <p class="card-text">FreeCodeCamp</p>
                <a href="https://freecodecamp.org/certification/h4cktivist/scientific-computing-with-python-v7" class="btn btn-primary">Certificate</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Python for Beginners</h5>
                <p class="card-text">JetBrains Academy (Hyperskill)</p>
                <a href="https://hyperskill.org/certificates/92c886c6-2e50-4e69-bddd-ed2ae083cb99.pdf" class="btn btn-primary">Certificate</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Python Core</h5>
                <p class="card-text">JetBrains Academy (Hyperskill)</p>
                <a class="btn btn-primary">No Certificate :(</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Django Developer</h5>
                <p class="card-text">JetBrains Academy (Hyperskill)</p>
                <a class="btn btn-primary">No Certificate :(</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Introduction to Command Line and Unix Shell</h5>
                <p class="card-text">JetBrains Academy (Hyperskill)</p>
                <a class="btn btn-primary">No Certificate :(</a>
              </div>
            </div>
          </div>
        </div>
    </div>


    <div id="career">
        <br><br>
        <h4 align="center">My Career:</h4>

        <div class="card text-center">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h5 class="card-title">JetBrains Academy (Hyperskill)</h5>
            <p class="card-text">Topics Author about SQL and Databases.</p>
            <a href="https://www.jetbrains.com/academy" class="btn btn-primary">Company website</a>
          </div>
          <div class="card-footer text-muted">
            August 2021 - Current Time
          </div>
        </div>
    </div>


    <div id="projects">
        <br><br>
        <h4 align="center">My Projects:</h4>

        {% for c in context %}
            <div class="card">
                <h5 align="center" class="card-header">{{ c.name }}</h5>
                <div class="card-body">
                  <p class="card-text">{{ c.desc }}</p>
                  <span class="badge rounded-pill bg-info text-dark">{{ c.lang }}</span>
                  <a href="{{ c.link }}" class="btn btn-outline-primary btn-sm">Check on GitHub</a>
                </div>
            </div>
            <br>
        {% endfor %}

    </div>


    <div id="contact">
        <br><br>
        <h4 align="center">Contact Me:</h4>

        <h6 align="center">Languages I Speak: Russian (Native), English (Intermediate)</h6>
        <h6 align="center">Gmail: popovvadim0605@gmail.com</h6>

        <a align="center" class="nav-link p-2" href="https://github.com/h4cktivist" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
        </a>
    </div>
    
</body>
</html>
